<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
</head>
<body>
    <h1>LMS (학습 관리 시스템)</h1>
    <h3>간단한 LMS API 서버를 구축하였습니다</h3>
    <br>

    <h3>Routing</h3>
    <ul>
        <li><strong>/classes : 모든 수업 조회</strong></li>
        <li><strong>/class?professor_id={professor_id} : 특정 분류의 수업 조회</strong></li>
        <li><strong>/class?code={code} : 특정 분류의 수업 조회</strong></li>
        <li><strong>/class?name={class_name} : 특정 분류의 수업 조회</strong></li>
        <li><strong>/enrollment?user_id={user_id} : 수강중인 모든 수업 조회</strong></li>
    </ul>
</body>
</html>